@import './components/pages/Home';
@import './components/pages/ManyPairsPredict';
@import './components/pages/SinglePairPredict';

@import './components/modules/SinglePair';
@import './components/modules/ManyPairs';
@import './components/modules/NavBar';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
	margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}