@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.Home-Container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.Home-Description {
  padding: 24px 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0;
}

#Home-PredictionTypes {
  text-align: center;
  margin-bottom: 12px;
}

.Home-Usages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Home-Usages .Home-Usage {
  width: 240px;
  height: 300px;
  border-radius: 12px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  text-align: center;
  padding: 8px;
  margin: 12px;
}

.Home-Usages .Home-Usage h2 {
  font-size: 20px;
  margin: 12px;
}

.ManyPairPredict-Container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.SinglePairPredict-Container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.AllPairPredict-Container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.Predict-Container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.SinglePair-Container {
  width: 750px;
  background-color: rgba(0, 255, 255, 0.4);
  border-radius: 16px;
  margin: auto;
  padding: 36px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SinglePair-Container h1 {
  margin-bottom: 8px;
}

.SinglePair-Container label {
  font-size: 18px;
}

.SinglePair-Container input {
  border-radius: 4px;
  height: 16px;
  padding: 4px;
  border-width: 1px;
  outline: none;
  margin: 8px 0;
  width: 40%;
}

.SinglePair-Container form {
  width: 100%;
}

.SinglePair-Container button {
  padding: 4px;
  border-radius: 4px;
  border-width: 2px;
  cursor: pointer;
  margin-top: 8px;
  width: 30%;
}

.SinglePair-Container .SinglePair-Proteins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SinglePair-Container .SinglePair-Proteins .SinglePair-Protein {
  width: 50%;
}

.SinglePair-Container .SinglePair-Proteins .SinglePair-Protein textarea {
  width: 80%;
  height: 100px;
  resize: none;
  border-radius: 8px;
  padding: 4px;
  outline: none;
  margin: 8px 0;
}

.ManyPair-Container {
  width: 750px;
  background-color: rgba(0, 255, 255, 0.4);
  border-radius: 16px;
  margin: auto;
  padding: 36px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ManyPair-Container h1 {
  margin-bottom: 8px;
}

.ManyPair-Container label {
  font-size: 18px;
}

.ManyPair-Container input {
  border-radius: 4px;
  height: 16px;
  padding: 4px;
  border-width: 1px;
  outline: none;
  margin: 8px 0;
  width: 40%;
}

.ManyPair-Container form {
  width: 100%;
}

.ManyPair-Container button {
  padding: 4px;
  border-radius: 4px;
  border-width: 2px;
  cursor: pointer;
  margin-top: 8px;
  width: 30%;
}

.AllPair-Container {
  width: 750px;
  background-color: rgba(0, 255, 255, 0.4);
  border-radius: 16px;
  margin: auto;
  padding: 36px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AllPair-Container h1 {
  margin-bottom: 8px;
}

.AllPair-Container label {
  font-size: 18px;
}

.AllPair-Container input {
  border-radius: 4px;
  height: 16px;
  padding: 4px;
  border-width: 1px;
  outline: none;
  margin: 8px 0;
  width: 40%;
}

.AllPair-Container form {
  width: 100%;
}

.AllPair-Container button {
  padding: 4px;
  border-radius: 4px;
  border-width: 2px;
  cursor: pointer;
  margin-top: 8px;
  width: 30%;
}

.PredictInput-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px;
}

.PredictInput-Container form {
  width: 50%;
  min-width: 480px;
}

.PredictInput-Container form > * {
  margin: 8px;
}

.PairInput-Upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SequenceInput-Upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavBar-Container {
  height: 60px;
  background-color: #3f51b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.NavBar-Container a {
  text-decoration: none;
  color: white;
}

.NavBar-Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.NavBar-Links li {
  margin-left: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto';
}
/*# sourceMappingURL=styles.css.map */