build/*
scratch/*
dist/*
**/*.pt
.vscode/**
*.egg-info
**/*.h5
**/.ipynb_checkpoints/**
**/__pycache__/**
collect_env.py
.env
web-server/media
web-server/tmp
server/tmp
server/static
**/.DS_Store
node_modules
.coverage
htmlcov
*.rdb
