# Directories
build
docs/build
scratch
dist
htmlcov
.vscode
**/.ipynb_checkpoints
**/__pycache__
dev*
dscript/proteins
dscript/pdbs
dscript/pdb
dscript/fastas
dscript/pdbsNEW
dscript/fastasNEW
dscript/fastasTEST
dscript/pdbsTEST
dscript/processing/pdb_ids
data/
auc.ipynb
contact_map.ibyb.ipynb
dscript_jupyter.ipynb
optimal_transport.ipynb
output.txt
dscript/storage/
dscript/pdbs_large
dscript/processing/pdb_ids.txt

# Files
collect_env.py
RUN_DSCRIPT.sh

# File Types
**/*.egg-info
**/*.pt
**/*.sav
**/*_log.txt
**.DS_Store
**/*.h5
**/.nfs*
