# Single Files
collect_env.py
RUN_DSCRIPT.sh

# Directories
build
scratch
dist
node_modules
htmlcov
dev*
## Remove this later when the server is merged
server/

# DotFiles
.coverage
.vscode
.nfs*

# Binaries
*.egg-info
**/*.sav
**/*.pt
**/*.h5
**/.ipynb_checkpoints/**
**/__pycache__/**
