.NavBar-Container {
    height: 60px;
    // background-color: rgba(0,0,255,0.7);
    background-color: #3f51b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    a {
        text-decoration: none;
        color: white;
    }
}

.NavBar-Links {
    display: flex;
    // width: 300px;
    // justify-content: space-evenly;
    list-style-type: none;
}