.Predict-Container {
    height: 500px;
    width: 750px;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 16px;
    margin: auto;
    padding: 10px;

    label {
        font-size: 18px;
    }

    input {
        border-radius: 4px;
        height: 16px;
        padding: 4px;
        border-width: 1px;
        outline: none;
        margin: 4px 0;
    }

    form {
        width: 100%;
    }

    button {
        padding: 4px;
        border-radius: 4px;
        border-width: 2px;
        cursor: pointer;
    }

    .Predict-Proteins {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .Predict-Protein {
            width: 50%;
            textarea {
                width: 70%;
                height: 100px;
                resize: none;
                border-radius: 8px;
                padding: 4px;
                outline: none;
                margin: 4px 0;
            }
        }
    }
}