.Protein-Container {
    width: 50%;

    .Protein-Box {

        textarea {
            width: 70%;
            height: 100px;
            resize: none;
            border-radius: 8px;
            padding: 4px;
            outline: none;
            margin: 4px 0;
        }
    }
}